/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px */
   font-size: 62.5%;
   scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness. */

 /* 1200px / 16px = 75em */
@media (max-width: 75em){
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: rgb(238, 185, 39);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
    width: 25%;
    flex-direction: column;
    font-size: .5rem;
    text-align: center;
  }

  .nav-list {
    justify-content: center;
    margin: 0 1rem;
    font-size: 0.5em;
    text-align: center;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  color: rgb(87, 52, 0);
  font-family: 'Special Elite', cursive;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list a:hover {
  background: rgb(216, 133, 10);
  color: white;
}

#welcome-section {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  text-align: left;
  font-size: 3rem;
  padding: 125px;
  margin: 0;
  /* color: rgb(132, 189, 255); */
  background-color: rgb(0, 28, 51);
  line-height: 80px;
}

#intro {
  font-size: 1.25rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(60, 240, 253);
  line-height: 100px;
  text-align: center;
}

#intro-1st {
  line-height: 100px;
  color: rgb(196, 221, 250);
}

#intro-2nd {
  text-align: left;
  color: rgb(159, 201, 250);
}

#intro-3rd {
  color: rgb(118, 180, 252);
}

#intro-4th {
  color: rgb(76, 157, 250);
}

#intro-5th {
  color: rgb(30, 129, 243);
}

#intro-6th {
  color: rgb(0, 90, 194);
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(81, 152, 211);
  background: linear-gradient(rgb(0, 28, 51) 0%, rgb(4, 76, 136) 22%, rgb(255, 255, 255) 100%);
}

.about-me {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

#emoji {
  font-size: 6em;
}

#about-statement {
  text-align: center;
  margin: 15px;
  font-size: 3em;
}

#profile-pic {
  max-height: 300px;
  max-width: auto;
  display: block;
  border-radius: 50%;
}

#photos {
  background: white;
  text-align: center;
  margin: 4rem;
}

.photo-statement {
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
  text-align: center;
  margin: 10px;
  padding: 8rem;
}

.placement-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 900px;
  height: 600px;
  position: relative;
  top: -64px;
  /* text-align: center; */
}

#slide-show {
  /* position: relative; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62.5%;
  /* padding: 10px; */
}

#slide-show img {
  position: absolute;
  z-index: 1;
  width: 900px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  top: 1800px;
  /* bottom: 10px; */
}

#slide-show img.active {
  z-index: 3;
}

.projects-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding: 10rem 2rem;
  background-color: rgb(52, 109, 52);
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(91, 175, 91) 22%, rgb(36, 78, 36) 100%);
}

.project-section-header {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3rem;
  max-width: 640px;
  max-height: 400px;
  margin: 0 auto 6rem auto;
  color: rgb(36, 78, 36);
  border-bottom: 0.2rem solid var(black);
}

@media (max-width: 28.75em) {
  .project-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 9rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .project-section {
    padding: 6rem 1rem;
  }
}

.project {
  text-decoration: none;
  background:rgb(63, 63, 63);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  object-fit: cover;
  width: 100%;
  /* height: auto; */
}

.project-title {
  font-size: 2.6rem;
  padding: 2rem 0.5rem;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}

.code {
  color: rgb(63, 63, 63);
  transition: color 1.25s ease-out;
}

.project:hover .code {
  color: #11f724;
}

.contact-section-header {
  background: linear-gradient(rgb(36, 78, 36) 0%,rgb(114, 56, 56) 50%,rgb(77, 39, 39) 100%);
  color: white;
  font-size: 6rem;
  text-align: center;
  padding: 12rem;
  /* font-family: 'Special Elite', cursive; */
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 7.5rem;
  font-family: 'Special Elite', cursive;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #075eff, #6666ff, #0099ff , #00ff00, #fae102, #f86e13, #ff3399,#f71313, #6666ff, #16ffe0, #04ffb4, #ff2cff, #ff0095);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 20s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

footer {
  background: rgb(43, 21, 21);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem;
  flex-wrap: wrap;
  font-size: 3rem;
  font-family: 'Source Code Pro', monospace;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

.contact-details {
  color: white;
  padding: 1px;
  margin: 25px;
  text-decoration: none;
  text-shadow: 2px 2px 1px #727171;
  transition: transform 0.5s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  /* color: #fc0000; */
}

#github:hover {
  color: #3cc520;
}

#linkedin:hover {
  color: rgb(0, 47, 255); 
}

#instagram:hover {
  color: rgb(247, 29, 0);
}

#email:hover {
  color: rgb(250, 12, 250);
}

#mobile:hover {
  color: rgb(255, 251, 30);
}