#profile-pic {
  max-height: 300px;
  max-width: auto;
  display: block;
  border-radius: 50%;
}

#slide-show {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#slide-show img {
  position: absolute;
  z-index: 1;
  width: 975px;
  height: 650px;
}

#slide-show img.active {
  z-index: 3;
}